/*鼠标指针*/
body {
	cursor: url(/cursor/default.cur),
		default;
}


a,
img {
	cursor: url(/cursor/pointer.cur),
		default;
}

/* valine评论输入框背景*/
#veditor {
	background-image: url(/img/diysay-valine.webp);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}

#veditor:focus {
	background-position-y: 200px;
	transition: all 0.2s ease-in-out 0s;
}

/*评论输入框*/
.vwrap {
	background-color: rgba(243, 250, 248, 0.438);
	padding: 15px 20px 0 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
	transition: all .3s
}

.vwrap:hover {
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12)
}

/*评论卡片式背景*/
.vcard {
	background-color: rgba(250, 243, 248, 0.438);
	padding: 15px 20px 0 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
	transition: all .3s
}

.vcard:hover {
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12)
}

.vquote .vcard {
	background-color: rgba(245, 253, 255, 0.596);
}

.vcard .vh .vcard {
	border: none;
	box-shadow: none;
}

/*隐藏markdown按钮*/
.vcol.vcol-30 {
	visibility: hidden;
}

/*隐藏valine按钮*/
.vpower.txt-right {
	visibility: hidden;
}


/* 右滚动条 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: rgba(73, 177, 245, 0.2);
	border-radius: 2em;
}

::-webkit-scrollbar-thumb {
	background-color: #49b1f5;
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, 0.4) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.4) 50%,
			rgba(255, 255, 255, 0.4) 75%,
			transparent 75%,
			transparent);
	border-radius: 2em;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-moz-selection {
	color: #fff;
	background-color: #49b1f5;
}

/*mac代码块美化白色样式*/
#article-container figure.highlight,
#article-container pre {
	color: #a9a9a9;
	background: #f3f3f3
}

#article-container figure.highlight .highlight-tools {
	color: #a9a9a9;
	background: #eee
}

#article-container figure.highlight .gutter pre {
	color: #999;
	background: #f3f3f3
}

#article-container figure.highlight figcaption a {
	color: #f3f3f3 !important
}
/*mac代码块美化黑色样式
#article-container figure.highlight,
#article-container pre {
	color: #f8f8f2;
	background: #696969
}

#article-container figure.highlight .highlight-tools {
	background: #3f3f3f;
	color: #fff
}

#article-container figure.highlight .gutter pre {
	color: #d3d3d3;
	background: grey
}

#article-container figure.highlight figcaption a {
	color: #a9a9a9 !important
}
*/
/*主页背景渐变色*/
#web_bg {
	background: -webkit-linear-gradient(
	  0deg,
	  rgba(247, 149, 51, 0.1) 0,
	  rgba(243, 112, 85, 0.1) 15%,
	  rgba(239, 78, 123, 0.1) 30%,
	  rgba(161, 102, 171, 0.1) 44%,
	  rgba(80, 115, 184, 0.1) 58%,
	  rgba(16, 152, 173, 0.1) 72%,
	  rgba(7, 179, 155, 0.1) 86%,
	  rgba(109, 186, 130, 0.1) 100%
	);
	background: -moz-linear-gradient(
	  0deg,
	  rgba(247, 149, 51, 0.1) 0,
	  rgba(243, 112, 85, 0.1) 15%,
	  rgba(239, 78, 123, 0.1) 30%,
	  rgba(161, 102, 171, 0.1) 44%,
	  rgba(80, 115, 184, 0.1) 58%,
	  rgba(16, 152, 173, 0.1) 72%,
	  rgba(7, 179, 155, 0.1) 86%,
	  rgba(109, 186, 130, 0.1) 100%
	);
	background: -o-linear-gradient(
	  0deg,
	  rgba(247, 149, 51, 0.1) 0,
	  rgba(243, 112, 85, 0.1) 15%,
	  rgba(239, 78, 123, 0.1) 30%,
	  rgba(161, 102, 171, 0.1) 44%,
	  rgba(80, 115, 184, 0.1) 58%,
	  rgba(16, 152, 173, 0.1) 72%,
	  rgba(7, 179, 155, 0.1) 86%,
	  rgba(109, 186, 130, 0.1) 100%
	);
	background: -ms-linear-gradient(
	  0deg,
	  rgba(247, 149, 51, 0.1) 0,
	  rgba(243, 112, 85, 0.1) 15%,
	  rgba(239, 78, 123, 0.1) 30%,
	  rgba(161, 102, 171, 0.1) 44%,
	  rgba(80, 115, 184, 0.1) 58%,
	  rgba(16, 152, 173, 0.1) 72%,
	  rgba(7, 179, 155, 0.1) 86%,
	  rgba(109, 186, 130, 0.1) 100%
	);
	background: linear-gradient(
	  90deg,
	  rgba(247, 149, 51, 0.1) 0,
	  rgba(243, 112, 85, 0.1) 15%,
	  rgba(239, 78, 123, 0.1) 30%,
	  rgba(161, 102, 171, 0.1) 44%,
	  rgba(80, 115, 184, 0.1) 58%,
	  rgba(16, 152, 173, 0.1) 72%,
	  rgba(7, 179, 155, 0.1) 86%,
	  rgba(109, 186, 130, 0.1) 100%
	);
  }

